/*body*/
body{
 background:#7FFFD4;
 text-align:center;
}
#main {
 width:1000px;
 height:600px;
 background: #F0F8FF;
 margin:25px auto;
 border: solid 2px #A52A2A;
}
 h1 {
 text-align:center;
 font-family: "Goudy Stout";
 font:24pt;
 color:#A52A2A;
}
 h2 {
 text-align:center;
 font-family:"Goudy Stout";
 font:16px;
 color:#A52A2A;
}
main h3 {
 text-align:left;
 font-family:"Goudy Stout";
 font:10px;
 color:#A52A2A;

}



